.container-1,
.container-2 {
  border: 1px solid black;
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.container-5 {
  border: 3px solid blue;
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.flex-box-container-1,
.flex-box-container-2,
.flex-blackjack-row-1,
.flex-blackjack-row-2,
.flex-blackjack-row-3 {
  display: flex;
  border: 1px solid black;
  padding: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.flex-box-container-1 div {
  padding: 10px;
  border: 1px solid black;
  align-items: center;
}

.flex-box-container-2 img {
  // padding: 10px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
  margin: 10px;
}

.flex-blackjack-row-1,
.flex-blackjack-row-2 {
  background-color: green;
  color: white;
}

.flex-blackjack-row-1 div {
  border: 1px solid black;

  padding: 10px;
  flex: 1;
  height: 350px;
  text-align: center;
}

.flex-blackjack-row-1 img {
  width: 25%;
  padding: 10px;
}

.flex-blackjack-row-2 button {
  border: 1px solid black;
  margin: 3px;
}

.flex-blackjack-row-2 div {
  border: 1px solid black;
  padding: 10px;
}

table,
th,
td {
  padding: 5px;
  border: 1px solid black;
}
