.box {
    color: blue;
    padding: 20px;
    background-color: #eaf2c3;
}

.box1 {
    color: rgb(106, 168, 139);
    padding: 20px;
    background-color: #caf00c;
}

.box2 {
    color: rgb(221, 155, 218);
    padding: 20px;
    background-color: #eaf2c3;
}

.status {
    color:rgb(7, 131, 73);
}

.disconnect {
    margin-top: 25px;
    background-color: #e85366;
    color: #e85366;
    
}

