.box {
    color: blue;
    padding: 20px;
    background-color: #eaf2c3;
}

.box.address {
    color: rgb(106, 168, 139);
    padding: 20px;
    background-color: #eaf2c3;
}

.box.balance {
    color: rgb(221, 155, 218);
    padding: 20px;
    background-color: #eaf2c3;
}