/* google font  */
/* https://fonts.google.com/earlyaccess */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

/* google color */
/* https://sourceforge.net/projects/colorfinder/ */
h1, h2, h3, h4, .navbar-brand {
    font-family: 'Jeju Gothic';
    color: #00695c
}
body {
    font-family: 'Namum Gothic';
    /* background-color: #b2dfdb; */
}
.navbar {
    border-bottom: #009688 3px solid;
}
