.header {
    margin-top: 30px ;
    margin-bottom: 20px;
    margin-right: 30px;
    margin-left: 30px;
    padding-top: 20px;
}

.list {
    margin-top: 50px ;
    margin-bottom: 20px;
    text-align: left;
}



