body {
    background-color: #eaeaea;
}

.ui.fixed.menu {
    background-image: linear-gradient(90deg, rgba(29, 142, 191, 0.76) 0%, rgba(155, 99, 200, 0.6) 100%);
}

.ui.fluid.container {
    margin-left: 3 !important;
    margin-right: 3 !important;
    margin-top: 3 !important;
    margin-bottom: 3 !important;
}

.ui.divider {
    margin-left: 3 !important;
    margin-right: 3 !important;
    margin-top: 5 !important;
    margin-bottom: 5 !important;
}



