.masthead {
    display: flex;
    vertical-align: middle;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 50px;
    
}

.text1 {
    font-size: 4em;
    color: black;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top:  2px;
}

.text2 {
    font-size: 2em;
    font-weight: "normal";
    margin-top: 2em;
    margin-bottom: 2em;
}