<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        form test
    </title>
</head>

<body>
    <form action="/form_receiver">
        <p>
            <input type="text" name="<%= title %>">
        </p>
        <p>
            <textarea name=" <%= description %>"></textarea>"
        </p>
        <input type='<%= submit %>'>
        </p>
    </form>
</body>

</html>