

.card {
    background-color: #790e3e;
    border-radius: 30px;
    border-width: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right: 10px;
    margin-left: 10px;
    Height: auto;
}

.image {
    background-color: #c19027;
    border: #790e3e ;
    height: 300 px;
}

.content {
    background-color: #a8c0f2;
    height: 600 px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
}