
.title {
    height: 50px;
    text-align: center;
    color: blue;
    text-emphasis-color: #c1e50b;
    padding-top: 30px;
    margin-bottom: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

.container {
    align-items: center;
    text-align: center;
}

